* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-background: #fff;
  --color-text: #333;
  --color-accent: #f8e9dd;
  --color-border: #e4e4e4;
  --border-radius: 10px;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  font-family: "Arial", sans-serif;
  color: var(--color-text);
  padding: 20px;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 700px;
}
.recipe-card img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.recipe-card {
  margin: 20px 0px;
}
.texte h1 {
  margin-bottom: 10px;
  font-size: 40px;
}
.texte p {
  margin-bottom: 30px;
}
.preparation-time {
  background-color: aqua;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--color-accent);
}
.preparation-time h2 {
  margin-bottom: 10px;
}
.preparation-time ul li {
  margin-left: 20px;
  padding-bottom: 10px;
}
.preparation-time ul li span {
  padding-left: 18px;
}
.ingredients ul {
  margin: 20px;
}
.ingredients ul li {
  padding-bottom: 10px;
  padding-left: 10px;
}
.instructions ol {
  margin: 20px;
}
.instructions ol li {
  padding-left: 10px;
  padding-bottom: 10px;
}
.instructions {
  text-align: start;
}
hr {
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
  margin-top: 20px;
}
td,
th {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  text-align: start;
}

td {
  text-align: start;
}
h1 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  .recipe-card {
    padding: 10px;
  }
}
